* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  --header1: calc(2rem + 1vw);
  --header2: calc(3.5rem + 1vw);
  --header3: calc(3rem + 1vw);
  --header4: calc(2.4rem + 1vw);
  --text: calc(1.5rem + 1vw);
  --big: calc(2.4rem + 1vw);
  --bigg: calc(5rem + 1vw);
  --biggg: calc(15rem + 1vw);
  --small:calc(0.5rem + 1vw);
  --bg-color: #fffefe;
  --gray-text: #2d2c2c;
}

body {
  background: white;
}

header {
  min-height: 10vh;
  width: 100%;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}
header nav {
  min-height: 10vh;
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
header nav h2 {
  flex: 1 1 40rem;
  display: flex;
  align-items: center;
  font-size: var(--header4);
}
header nav ul {
  flex: 1 2 40rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: var(--small);
}
header nav ul li {
  list-style-type: none;
  padding: 1rem;
}
header nav ul li a {
  color: black;
  transition: 0.3s ease, transform 0.1s ease;
  text-decoration: none;
}
header nav ul li a:hover {
  color: rgb(0, 155, 103);
  transform: scale(1.5);
}
header nav ul li button {
  width: 150%;
  padding: 10%;
  border: none;
  font-size: var(--small);
  color: white;
  background-color: black;
  transition: 0.3s ease, transform 0.1s ease;
}
header nav ul li button:hover {
  transform: scale(1.5);
  background-color: rgb(39, 155, 116);
  color: white;
  border: none;
}
header nav ul li:hover {
  -webkit-text-decoration: dashed;
          text-decoration: dashed;
}

.form {
  height: 20vh;
  background-color: black;
}
.form .container-form {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 90%;
  margin: auto;
}
.form .container-form .search {
  flex: 1 1 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form .container-form .search form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.form .container-form .search input {
  width: 50%;
  padding: 0.8rem;
  margin: 1rem;
  border: none;
  background-color: black;
  color: white;
  transition: 0.3s ease, transform 0.1s ease;
}
.form .container-form .search #loc:hover {
  background-color: black;
  color: white;
  transform: scale(1.2);
}
.form .container-form .search input:hover {
  transform: scale(1.2);
  background-color: rgb(39, 155, 116);
  color: white;
}
.form .container-form .per {
  flex: 1 1 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form .container-form .per form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1rem;
}
.form .container-form .per form select {
  width: 50%;
  margin: 1rem;
  padding: 0.8rem;
  background-color: black;
  color: white;
  border: none;
  transition: 0.3s ease, transform 0.1s ease;
}
.form .container-form .per form select:hover {
  background-color: black;
  color: white;
  transform: scale(1.2);
}
.form .container-form .per form button {
  margin: 1rem;
  padding: 0.8rem;
  background-color: black;
  color: white;
  border: none;
  transition: 0.3s ease, transform 0.1s ease;
}
.form .container-form .per form button:hover {
  transform: scale(1.2);
  background-color: rgb(39, 155, 116);
  color: white;
}

.filter {
  height: 15vh;
  color: white;
  width: 100%;
  background-color: rgb(252, 255, 255);
}
.filter div {
  height: 100%;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter div form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter div form select {
  width: 35%;
  padding: 1rem;
  margin: 1rem;
  background-color: white;
  border: black 1px solid;
  transition: 0.3s ease, transform 0.1s ease;
}
.filter div form select:hover {
  transform: scale(1.2);
  border: white 1px sold;
}
.filter div form button {
  width: 5%;
  padding: 1rem;
  margin: 1rem;
  background-color: white;
  border: black 1px solid;
  transition: 0.3s ease, transform 0.1s ease;
}
.filter div form button:hover {
  transform: scale(1.2);
  background-color: rgb(39, 155, 116);
  color: white;
  border: none;
}

.reportss {
  min-height: 55vh;
  width: 90%;
  margin: auto;
  padding: 1rem;
}
.reportss #Test {
  height: 50vh;
}
.reportss .main-report {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30vh;
  overflow: hidden;
  border: 1px solid black;
  margin: 1rem;
}
.reportss .main-report .file {
  flex: 1 1 40rem;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reportss .main-report .file img, .reportss .main-report .file embed {
  width: 100%;
  min-height: 100%;
}
.reportss .main-report .info-dw {
  flex: 1 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.reportss .main-report .info-dw p, .reportss .main-report .info-dw a {
  margin: 2rem;
  font-size: var(--small);
  color: black;
}
.reportss .main-report .info-dw a {
  background-color: rgb(39, 155, 116);
  padding: 1rem;
  color: white;
  text-decoration: none;
  transition: 0.3s ease, transform 0.1s ease;
}
.reportss .main-report .info-dw a:hover {
  transform: scale(1.2);
}/*# sourceMappingURL=endUser.css.map */